<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Counter</title>
  <link rel="stylesheet" href="theme.css" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  
<div class="container pt-5" id="app" v-cloak>
  <div class="card center">
    <h1 v-text="title" ></h1>
    <h1 v-once >{{title}}</h1>
    <h1 v-pre >{{title}}</h1>
    <div v-html="myHtml"></div>
    <button @click="title='aaaaaaaa'" >Нажать</button>

    <div class="form-control">
      <input type="text" @keyup="dobav" ref="myInput">
      <input type="text" @keyup.shift.enter.exact ="dobav($event)" ref="myInput">
    </div>
    
    <ul class="list">
      <li 
      class="list-item" 
      v-for="(item, id) in eventItems"
      @click = "rem(id), log(item)"
      :key="item"
      >
      {{item}} &nbsp; 
      <input type="text" @click.prevent.stop>
    </li>
    </ul>

    <div v-show="num.length === 0" >Элементов нет</div>

    <ul class="list2">
      <li 
      class="list2-item" 
      v-for="(item, key) in person"
      >
        {{key}} -- {{ item }}
      </li>
    </ul>



  </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>
